<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--第一部分、 配置数据库连接信息 -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/springdata_jpa?characterEncoding=UTF-8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1220.dbggl.mysql</property>

        <!--第 2 部分：配置hibernate信息，可选的-->
        <!-- 输出底层sql 默认false-->
        <property name="show_sql">true</property>
        <!--是否格式化sql 默认false-->
        <property name="format_sql">true</property>
        <!--表生成策略
            默认none   不自动生成
            update    如果没有表会创建，有会检查更新
            create    创建-->
        <property name="hbm2ddl.auto">update</property>
        <!-- 配置方言：选择数据库类型
            type=InnoDB在5.0以前是可以使用的，但5.1之后就不行了。如果把type=InnoDB改为engine=InnoDB就不会有这个问题。
            MyISAMySQL引擎不支持外键，所有如果要映射的表里有外键的话，就会创建失败

            mysql8，mysql5.1.47的话可用，mysql5.1.22亲测不可用
            MySQLDialect 为 type=MyISAM   连接失败 得是mysql5.x之前的版本
            MySQL5Dialect 为 engine=MyISAM
            MySQL55Dialect 为 engine=InnoDB
            MySQL57Dialect 为 engine=InnoDB
            MySQL8Dialect 为 engine=InnoDB
         -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!--第3部分，把映射文件放到核心配置文件中，必须的Q！！！通过注解的方式配置，配置文件就不用配置了！！！
        <mapping resource="com/huangjiabin/hibernate/model/User.hbm.xml"></mapping>-->

        <!--第三部分不用了，可是要配置，指定哪些po 需要进行ORM映射-->
        <mapping class="com.huangjiabin.po.Customer"></mapping>
    </session-factory>
</hibernate-configuration>