<?xml version="1.0" encoding="UTF-8"?>
<!-- 日志级别从低到高分为 TRACE < DEBUG < INFO < WARN < ERROR < FATAL，如果
设置为 WARN，则低于 WARN 的信息都不会输出 -->
<!-- scan:当此属性设置为 true 时，配置文件如果发生改变，将会被重新加载，默认值为true -->
<!-- scanPeri   od:设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认
单位是毫秒。当 scan 为 true 时，此属性生效。默认的时间间隔为 1 分钟。 -->
<!-- debug:当此属性设置为 true 时，将打印出 logback 内部日志信息，实时查看 logback
运行状态。默认值为 false。通常不打印 -->
<configuration scan="true" scanPeriod="10 seconds">

    <!--追加器 ConsoleAppender：把日志输出到控制台-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--过滤器，ThresholdFilter过滤低于指定阈值的事件-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>info</level>-->
<!--        </filter>-->
        <!--编码器-->
        <encoder>
            <Pattern>%date [%-5p] [%thread] %logger{60} [%file : %line] %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--追加器 RollingFileAppender：滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志文件路径和名称-->
        <File>D:/java/log/stdout.log</File>
        <encoder>
            <pattern>%date [%-5p] %thread %logger{60} [%file : %line] %msg%n</pattern>
        </encoder>
        <!--1、RollingPolicy:负责执行翻转所需的操作。TriggeringPolicy:将确定是否以及何时发生翻转。
            因此，RollingPolicy负责什么和TriggeringPolicy负责什么时候.
            2、RollingFileAppender必须同时设置RollingPolicy和TriggeringPolicy,
            但是，如果其RollingPolicy也实现了TriggeringPolicy接口，则只需要显式指定前者。-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 添加.gz 历史日志会启用压缩 大大缩小日志文件所占空间 -->
            <fileNamePattern>D:/java/log/stdout.log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory><!-- 保留 30 天日志 -->
        </rollingPolicy>
    </appender>

    <!--logger 子
        additivity:是否使用父级的logger的追加器进行输出，默认为true。注：只使用追加器不继承level，level只有没配置的情况才继承父级的
    -->
<!--    <logger name="com.huangjiabin.springboot.controller.LogbackController"  additivity="true" level="debug" />-->
    <logger name="com.huangjiabin.springboot.controller.LogbackController"  additivity="false"  >
        <appender-ref ref="CONSOLE"/>
    </logger>
    <!--logger爹-->
    <logger name="com.huangjiabin.springboot.controller"  additivity="false" level="warn" >
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!--logger始祖、root：也是一个logger，是所有logger始祖-->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
